* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v119_173 {
  width: 100%;
  height: 2560px;
  background: url("../images/background.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v119_174 {
  width: 130px;
  height: 120px;
  background: url("../images/logo.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 10px;
  overflow: hidden;
}
.v119_175 {
  width: 111px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 56px;
  left: 139px;
  font-family: Playfair Display;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v119_176 {
  width: 189px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 185px;
  left: 140px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.comp{
  width: 350px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 183px;
  left: 1200px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}

.v119_178 {
  width: 350px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 183px;
  left: 578px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v119_179 {
  width: 296px;
  height: 30px;
  background: url("../images/v119_179.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 53px;
  left: 1370px;
  overflow: hidden;
}
.v119_180 {
  width: 29px;
  height: 30px;
  background: url("../images/vk.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v119_181 {
  width: 38px;
  height: 30px;
  background: url("../images/youtube.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 130px;
  overflow: hidden;
}
.v119_182 {
  width: 26px;
  height: 30px;
  background: url("../images/telegram.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 270px;
  overflow: hidden;
}
.v119_183 {
  width: 956px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 348px;
  left: 386px;
  font-family: Montserrat;
  font-weight: SemiBold;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v119_185 {
  width: 100%;
  height: 340px;
  background: rgba(85,80,80,1);
  opacity: 1;
  position: absolute;
  top: 2210px;
  left: 0px;
  overflow: hidden;
}
.v119_106 {
  width: 100%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 570px;
  left: 140px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v119_212 {
  width: 589px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1306px;
  left: 151px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v128_735 {
  width: 95px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 49px;
  left: 1203px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v128_736 {
  width: 63px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 49px;
  left: 1138px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}

.v128_753 {
  width: 95px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 46px;
  left: 1212px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v128_754 {
  width: 63px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 46px;
  left: 1147px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
