* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v128_437 {
  width: 100%;
  height: 2560px;
  background: url("../images/background.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v128_438 {
  width: 130px;
  height: 120px;
  background: url("../images/logo.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 10px;
  overflow: hidden;
}
.v128_439 {
  width: 111px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 56px;
  left: 139px;
  font-family: Playfair Display;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v128_440 {
  width: 100%;
  height: 37px;
  background: url("../images/v128_440.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 153px;
  left: 150px;
  overflow: hidden;
}
.v128_441 {
  width: 189px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 2px;
  left: 0px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.comp{
  width: 350px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 800px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}

.v128_443 {
  width: 350px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 438px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v128_444 {
  width: 296px;
  height: 30px;
  background: url("../images/v128_444.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 53px;
  left: 1370px;
  overflow: hidden;
}
.v128_445 {
  width: 29px;
  height: 30px;
  background: url("../images/vk.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v128_446 {
  width: 38px;
  height: 30px;
  background: url("../images/youtube.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 130px;
  overflow: hidden;
}
.v128_447 {
  width: 26px;
  height: 30px;
  background: url("../images/telegram.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 270px;
  overflow: hidden;
}
.v128_448 {
  width: 213px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 290px;
  left: 757px;
  font-family: Montserrat;
  font-weight: SemiBold;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v128_450 {
  width: 100%;
  height: 340px;
  background: rgba(85,80,80,1);
  opacity: 1;
  position: absolute;
  top: 2220px;
  left: 0px;
  overflow: hidden;
}
.v128_452 {
  width: 617px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 652px;
  left: 127px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v128_453 {
  width: 578px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 799px;
  left: 127px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v128_454 {
  width: 926px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 911px;
  left: 127px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v128_455 {
  width: 940px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1067px;
  left: 127px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v128_456 {
  width: 295px;
  height: 89px;
  background: url("../images/v128_456.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 671px;
  left: 1303px;
  overflow: hidden;
}
.v128_457 {
  width: 108px;
  height: 57px;
  background: url("../images/arrow.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 186px;
  overflow: hidden;
}
.v128_458 {
  width: 220px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 8px;
  left: 0px;
  font-family: Montserrat;
  font-weight: Medium;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v128_459 {
  width: 295px;
  height: 89px;
  background: url("../images/v128_459.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 920px;
  left: 1303px;
  overflow: hidden;
}
.v128_460 {
  width: 108px;
  height: 57px;
  background: url("../images/arrow.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 186px;
  overflow: hidden;
}
.v128_461 {
  width: 220px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 8px;
  left: 0px;
  font-family: Montserrat;
  font-weight: Medium;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v128_462 {
  width: 108px;
  height: 57px;
  background: url("../images/v128_462.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 186px;
  overflow: hidden;
}
.v128_463 {
  width: 108px;
  height: 57px;
  background: url("../images/arrow.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v128_464 {
  width: 295px;
  height: 89px;
  background: url("../images/v128_464.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 803px;
  left: 1303px;
  overflow: hidden;
}
.v128_465 {
  width: 108px;
  height: 57px;
  background: url("../images/arrow.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 186px;
  overflow: hidden;
}
.v128_466 {
  width: 220px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 8px;
  left: 0px;
  font-family: Montserrat;
  font-weight: Medium;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v128_467 {
  width: 295px;
  height: 89px;
  background: url("../images/v128_467.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1054px;
  left: 1303px;
  overflow: hidden;
}
.v128_468 {
  width: 108px;
  height: 57px;
  background: url("../images/arrow.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 186px;
  overflow: hidden;
}
.v128_469 {
  width: 220px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 8px;
  left: 0px;
  font-family: Montserrat;
  font-weight: Medium;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v128_757 {
  width: 95px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 41px;
  left: 1208px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v128_758 {
  width: 63px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 41px;
  left: 1143px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}

.v128_753 {
  width: 95px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 46px;
  left: 1212px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v128_754 {
  width: 63px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 46px;
  left: 1147px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}